@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

.dropdown-element{
    @apply my-1 hover:text-white hover:underline decoration-4 hover:underline-offset-4 decoration-slate-200 cursor-pointer
}